<aside class="right-company-filters">
  <div id="company-filters">
    <h4 class="filter-title">Work Areas</h4>
    <p-dropdown [options]="workAreas" [(ngModel)]="selectedWorkArea" placeholder="Select a Work Area" optionLabel="name"
      filter="true" (onChange)="filter()"></p-dropdown>
    <hr>

    <h4 class="filter-title">Schools</h4>
    <p-multiSelect [options]="schools" [(ngModel)]="selectedSchools" placeholder="Select a School(-s)" optionLabel="name"
      maxSelectedLabels=0 filter="true" (onChange)="filter()"></p-multiSelect>
    <hr>

    <h4 class="filter-title">Faculties</h4>
    <p-multiSelect [options]="faculties" [(ngModel)]="selectedFaculties" placeholder="Select a Faculty(-ies)"
      optionLabel="name" filter="true" (onChange)="filter()"></p-multiSelect>
    <hr>

    <h4>Age Range: {{rangeValues[0] + ' - ' + rangeValues[1]}}</h4>
    <div class="age-range">
      <p-slider [(ngModel)]="rangeValues" [style]="{'width':'14em'}" [range]="true"></p-slider>
      <p-button label="Ok" (click)="filter()"></p-button>
    </div>
    <hr>

    <h4 class="filter-title">Languages</h4>
    <p-multiSelect [options]="languages" [(ngModel)]="selectedLanguages" placeholder="Select a Language(-s)"
      optionLabel="name" filter="true" (onChange)="filter()"></p-multiSelect>
    <hr>
  </div>
</aside>