#vacancy-page
  max-width: 1024px
  margin: 50px auto
  padding: 10px 60px
  background: white
  border: 0px solid #ddd
  box-shadow: none
  border-radius: 0

  /deep/ .ui-card-title
    margin-bottom: 20px

.wrapper-flex
  display: flex
  justify-content: space-between
    

.vacancy-logo
  align: right
  height: 200px

.additional-info
  p
    margin: 10px 0
    font-size: 1.2em

  span
    font-weight: 600

  h1
    font-size: 1.8em 
    font-weight: 500 

  h2
    font-size: 1.5em
    font-weight: 300
    margin-top: 10px
  h3
    font-size: 1.3em 
    font-weight: 500 
    margin-top: 30px
    margin-bottom: 10px

  h4
    font-size: 1.2em 
    font-weight: 300
    margin-bottom: 30px

  h5
    font-size: 1em 
    font-weight: 300
    margin-top: 10px
    margin-bottom: 30px 
    

.description
  margin-top: 30px

hr 
  border: 0
  height: 1px        
  margin-top: 15px
  background: rgba(0,0,0,.12) 
