<div id="vacancy-page" *ngIf="vacancy">
  <img class="vacancy-logo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/SoftServe_logo_new.png"
   alt="Vacancy logo" [routerLink]="['/company-details/', vacancy?.recruiter?.company?.id]" routerLinkActive="active">
  <div class="wrapper-flex">
    <div class="additional-info">
      <h1>{{vacancy?.name}}</h1>
      <h2>{{vacancy?.salary}} $</h2>
      <h5>
        <font color="grey">Posted </font>{{vacancy?.createDate | date}}
      </h5>
      <hr>

    </div>
    <p-dialog header="Send my CV" [(visible)]="display" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200"
      [minY]="70" [maximizable]="false" [baseZIndex]="10000" [draggable]="false" [blockScroll]="true" [resizable]="false"
      [minHeight]="100">
      <span>Are you sure?</span>
      <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Yes"></button>
        <button type="button" pButton icon="pi pi-times" (click)="display=false" label="No" class="ui-button-secondary"></button>
      </p-footer>
    </p-dialog>
    <button type="text" (click)="showDialog()" pButton icon="fa fa-file-text" label="Send my CV" style="height:35px"></button>
  </div>
  <div class="additional-info">
    <h3>
      <font color="grey"><i class="fa fa-bank" style="font-size: 0.9em"></i> Company: </font>{{vacancy?.recruiter?.company?.name}}
    </h3>
    <h3>
      <font color="grey"><i class="fa fa-map-marker" style="margin-right: 6px; margin-left: 3px; font-size: 1.1em"></i>
        City: </font>{{vacancy?.city?.name}}
    </h3>
    <h3>
      <font color="grey"><i class="fa fa-user" style="margin-right: 5px; margin-left: 2px"></i> Recruiter: </font>{{vacancy?.recruiter?.firstName}}
      {{vacancy?.recruiter?.lastName}}
    </h3>
    <h3>
      <font color="grey"><i class="fa fa-globe" style="margin-right: 4px; margin-left: 1px"></i> Web-site: </font><a
        href="www.softserveinc.com">{{vacancy?.recruiter?.company?.site}}</a>
    </h3>
    <h4 *ngIf="vacancy?.isChecked">
      <font color="green"><i class="fa fa-check-circle-o" style="margin-right: 4px; margin-left: 1px"></i> Checked</font>
    </h4>
    <h4 *ngIf="!vacancy?.isChecked">
      <font color="red"><i class="fa fa-times-circle-o" style="margin-right: 4px; margin-left: 1px"></i> Unchecked</font>
    </h4>
  </div>
  <div class="additional-info">
    <p-card title="About the vacancy" [style]="{width: '100%', 'margin-bottom':'20px'}">
      <div>
        <p>{{vacancy?.description}}</p>
      </div>
    </p-card>
    <p-card title="Requirements" [style]="{width: '100%', 'margin-bottom':'20px'}">
      <ul>
        <li>
          <p><i class="pi pi-check"></i> {{vacancy?.requirements}}</p>
        </li>
      </ul>
    </p-card>
    <p-card title="Nice to have" [style]="{width: '100%', 'margin-bottom':'20px'}">
      <ul>
        <li>
          <p><i class="pi pi-check"></i>{{vacancy?.bePlus}}</p>
        </li>
      </ul>
    </p-card>
    <p-card title="We offer" [style]="{width: '100%', 'margin-bottom':'20px'}">
      <ul>
        <li>
          <p><i class="pi pi-check"></i> {{vacancy?.offering}}</p>
        </li>
      </ul>
    </p-card>
  </div>
</div>