<div class="table-entities">
    <div class="table-header">
        <div class="left-dropdown">
            <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange($event)"
                [autoWidth]="false"></p-dropdown>
        </div>

        <div class="table-autocomplete">
            <p-autoComplete [(ngModel)]="searchedVacancy" [suggestions]="vacancies" (onSelect)="select($event)"
                (completeMethod)="filterVacancies($event)" (onClear)="clear()" [field]="suggestField" [placeholder]="placeholder"></p-autoComplete>
        </div>

        <div class="right-dropdown">
            <p-dropdown [options]="searchOptions" [(ngModel)]="searchField" (onChange)="onSearchFieldChange($event)">
            </p-dropdown>
        </div>
    </div>
    <table>
        <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>Company</th>
            <th>City</th>
            <th>CreateDate</th>
            <th>Check/Uncheck</th>
        </tr>
        <tr *ngFor="let vacancy of vacancies">
            <td><img src="https://upload.wikimedia.org/wikipedia/commons/d/da/SoftServe_logo_new.png" alt="" /></td>
            <td>{{vacancy.name}}</td>
            <td>{{vacancy.recruiter.company.name}}</td>
            <td>{{vacancy.city.name}}</td>
            <td>{{vacancy.createDate | date}}</td>
            <td>
                <div *ngIf="vacancy.isChecked else uncheckedBlock">
                    <button pButton type="button" label="Uncheck" class="ui-button-rounded ui-button-danger" (click)="checkConfirm(vacancy, vacancy.isChecked)"></button>
                </div>
                <ng-template #uncheckedBlock>
                    <button pButton type="button" label="Check" class="ui-button-rounded ui-button-success" (click)="checkConfirm(vacancy, vacancy.isChecked)"></button>
                </ng-template>
            </td>
        </tr>
    </table>
</div>

<p-paginator #p [rows]="pageSize" [totalRecords]="totalRecords" (onPageChange)="paginate($event)" [rowsPerPageOptions]="rowsPerPage"></p-paginator>

<p-confirmDialog></p-confirmDialog>