<div class="jobsearch">
  <app-search-line (filteredVacancies)="getVacanciesBySearchString($event)"></app-search-line>
  <div class="container">
    <div class="filter-container">
      <app-job-filters></app-job-filters>
    </div>
    <div class="vacancy-container">
      <article class="vacancy-block" *ngFor="let vacancy of vacancies">
        <div class="inform">
          <h3>
            <a>{{vacancy.name}}</a>
          </h3>
          <p class="company-name">
            <a>{{vacancy.recruiter.company.name}}</a>
          </p>
          <p class="location">
            <i class="fa fa-map-marker"></i>
            {{vacancy.city.name}}
          </p>
          <p class="short-description">
            {{vacancy.description}}
          </p>
          <p class="agotime">
            {{vacancy.createDate | date}}
          </p>
        </div>
        <div class="logo">
          <img src="https://logo-frankfurt.cf-rabota.com.ua/959_20180227113934.png">
        </div>
      </article>
    </div>
  </div>

  <p-paginator [rows]="pageCount" [totalRecords]="totalRecords" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[pageCount-2, pageCount, pageCount+2]"></p-paginator>
</div>