<div class="jobsearch">
  <app-search-line></app-search-line>
  <div class="wrapper">
    <app-job-filters></app-job-filters>
    <div class="vacancy-list">
      <article class="vacancy-block">
        <div class="inform">
          <h3>
            <a>Name of vacancy-block</a>
          </h3>
          <p class="company-name">
            <a>Company Name</a>
          </p>
          <p class="location">
            <i class="fa fa-map-marker"></i>
            City Name
          </p>
          <p class="short-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus quo, assumenda aspernatur quae numquam veritatis,
            fugiat neque dolore quidem, reprehenderit illo est! Veniam consequuntur quaerat, accusantium officiis optio soluta
            quasi.
          </p>
          <p class="agotime">
            days ago
          </p>
        </div>
        <div class="logo">
            <img src="https://logo-frankfurt.cf-rabota.com.ua/GlobalLogic-Ukraine_20141113034621.png">
        </div>
      </article>
      <article class="vacancy-block">
          <div class="inform">
            <h3>
              <a>Name of vacancy-block</a>
            </h3>
            <p class="company-name">
              <a>Company Name</a>
            </p>
            <p class="location">
              <i class="fa fa-map-marker"></i>
              City Name
            </p>
            <p class="short-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus quo, assumenda aspernatur quae numquam veritatis,
              fugiat neque dolore quidem, reprehenderit illo est! Veniam consequuntur quaerat, accusantium officiis optio soluta
              quasi.
            </p>
            <p class="agotime">
              days ago
            </p>
          </div>
          <div class="logo">
              <img src="https://logo-frankfurt.cf-rabota.com.ua/GlobalLogic-Ukraine_20141113034621.png">
          </div>
        </article>
        <article class="vacancy-block">
            <div class="inform">
              <h3>
                <a>Name of vacancy-block</a>
              </h3>
              <p class="company-name">
                <a>Company Name</a>
              </p>
              <p class="location">
                <i class="fa fa-map-marker"></i>
                City Name
              </p>
              <p class="short-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus quo, assumenda aspernatur quae numquam veritatis,
                fugiat neque dolore quidem, reprehenderit illo est! Veniam consequuntur quaerat, accusantium officiis optio soluta
                quasi.
              </p>
              <p class="agotime">
                days ago
              </p>
            </div>
            <div class="logo">
                <img src="https://logo-frankfurt.cf-rabota.com.ua/GlobalLogic-Ukraine_20141113034621.png">
            </div>
          </article>
    </div>
  </div>
</div>