

.home-page
  
.wrapper
  max-width: 1024px
  margin: auto

#search-area
  background: url('https://png2.kisspng.com/20180304/age/kisspng-businessperson-illustration-vector-business-people-talking-5a9bb59a4634d7.0942372015201540102876.png')
  background-position: 50% 100%
  background-size: 800px 500px
  background-repeat: no-repeat
  background-color: #ECF6F0
  height: 500px
  width: 100%
  
  padding: 10px
  background-color: #ECF6F0
#search-area
 #search
    position: relative 
    dispaly: inline
    height: 15%
    top: 60% 
    box-shadow: 0px 10px 10px rgba(0,0,0,0.27)
    
    
    #input
      position: relative
      height: 99%
      border-radius: 0px
      width: 72%
      top: 1.2px
      font-size: 20px
      padding: 12px
      border: 0px
      

    /deep/.pi-times:before 
      content: none

    /deep/ .ui-corner-all
       border-radius: 0px
    /deep/ .ui-dropdown
     position: relative
     top: -1.8px
     width: 20%
     height: 99%
     border: 0px
     
     
     .ui-dropdown-label
        font-size: 20px
        

     .ui-inputtext 
        padding-top: 12%
        paddin-left: 2px
        color: #666666
        float: left
        text-align: center
        font-family: 'Arial'  
        overflow: hidden
        
        
    #srch-btn
      
      
      position: relative
      height: 99%
      border-radius: 0px
      width: 8%
      font-weight: bold
      border: 0px
      border-color: grey
      background-color: #208087
      
      
      
    #srch-btn:hover
        background-color: #f47442


#professions
 background: white
 padding: 10px
 width: auto
 
 .list-professions
   a
     display: inline-block
     font-size: 20px
     width: auto
     color: #f47442
     padding: 30px
   a:hover
     color: #208087
#companies
 .list-companies
   a
     display: inline-block
     padding: 20px
     width: auto
     img 
      height: 100px
      width: 100px

#cities
 .list-cities
   a
     display: inline-block
     padding: 20px
     width: auto
     text-align: center

     img
       height: 60px
       width: 60px
     p
      font-size: 20px
      color: grey
      font-family: 'Roboto', sans-serif
     p:hover
       color: #f47442
.subTitle
  font-size: 30px
  font-family: 'Roboto', sans-serif
  font-weight: bold
  color: grey
  margin-left: 10px

.red-line
 border: 0
 width: 60px
 height: 8px        
 background:  #f47442
 float: left
 margin-left: 10px


   
      
   
   

    



     
    
    
   
    
  
   
      
   
   

    



     
    
    
   
    
  