h1, h2, h3, h4, h5, h6 
  font: inherit
  color: inherit
  margin: 0 0 10px

h4 
  display: block
  margin-inline-start: 0px
  margin-inline-end: 0px
  font-weight: bold

#recruiter-form
	padding: 0px 25px
	background: #F9F9F9
	border: 1px solid #ddd
	box-shadow: none
	border-radius: 0
	font-family: "Open Sans","Helvetica Neue",sans-serif


	/deep/ .ui-float-label
		margin: 30px 0

	input 
		width: 100%
