<app-header></app-header>
<div id="user-page">
  <div class="wrapper-flex">
    <img class="profile-avatar" src="https://avatars0.githubusercontent.com/u/43314300?s=400&u=1ab66ea04a1b8060af09ee83b3ba69a44a9f8710&v=4" alt="Profile Avatar">
    <div class="additional-info">
      <p><span>Full Name: </span>{{user.firstName}} {{user.lastName}}</p>
      <p><span>E-Mail: </span>{{user.email}}</p>
      <p><span>Sex: </span>{{user.sex ==='m'?'Male':user.sex==='f'?'Female':''}}</p>
      <p><span>Address: </span>{{user.address}}</p>
      <p><span>Birth Date: </span>{{user.birthDate | date}}</p>
      <p><span>Phone: </span>{{user.phone}}</p>
      <p><span>Family state: </span>{{resume.familyState}}</p>
    </div>
    <div>
      <button type="button" (click)="resumeForm.showResumeForm('Update', user, resume)" pButton icon="pi pi-copy" label="Update CV"></button>
      <app-resume-form #resumeForm></app-resume-form> 
    </div>
  </div>

  <div class="resume-info">
    <p-fieldset legend="Intro">
      <p>
        Hello! I'm a young intelligent talented student. 
        At the moment, I'm a tutor in mathematics. I extremely
        like web-programming and would like to succeed as Full Stack Developer,
        master different technologies, become a professional in this area.
        And now I'm looking for a junior Full Stack Developer position.
      </p>
    </p-fieldset>
    <p-fieldset legend="Social Networks">
      <p><span>GitHub: </span>{{resume.github}}</p>
      <p><span>Facebook: </span>{{resume.facebook}}</p>
      <p><span>Instagram: </span>{{resume.instagram}}</p>
      <p><span>Skype: </span>{{resume.skype}}</p>
      <p><span>Linkedin: </span>{{resume.linkedin}}</p>
    </p-fieldset>
    <p-fieldset legend="Educations">
      <div *ngFor="let ed of resume.educationPeriods">
        <p><span>School: </span>{{ed.school?.name}}</p>
        <p *ngIf="ed.faculty">{{ed.faculty?.name}}</p>
        <p><span>Start Date: </span>{{ed.startDate | date}}</p>
        <p><span>Finish Date: </span>{{ed.finishDate | date}}</p>
        <hr>    
      </div>
    </p-fieldset>
    <p-fieldset legend="Experience">
      <div *ngFor="let exp of resume.experiences">
        <p><span>Company Name: </span>{{exp.companyName}}</p>
        <p><span>Position: </span>{{exp.position}}</p>
        <p><span>Start Date: </span>{{exp.startDate | date}}</p>
        <p><span>Finish Date: </span>{{exp.finishDate | date}}</p>
        <hr>
      </div>

    </p-fieldset>
    <p-fieldset legend="Languages">
      <p>{{getLanguages()}}</p>
    </p-fieldset>
    <p-fieldset legend="Courses">
      <p>{{resume.courses}}</p>
    </p-fieldset>
    <p-fieldset legend="Soft Skills">
      <p>{{resume.softSkills}}</p>
    </p-fieldset>
    <p-fieldset legend="Key Skills">
      <p>{{resume.keySkills}}</p>
    </p-fieldset>    
  </div>
</div>

<app-footer></app-footer>