<app-header></app-header>
<div id="company-page">
  <div class="wrapper-flex">
    <img class="profile-avatar" src="https://avatars0.githubusercontent.com/u/43314300?s=400&u=1ab66ea04a1b8060af09ee83b3ba69a44a9f8710&v=4" alt="Profile Avatar">
    <div class="additional-info">
      <p><span>Full Name: </span>Victor Moiseychenkov</p>
      <p><span>E-Mail: </span>vmoiseychenkov@gmail.com</p>
      <p><span>Sex: </span>Male</p>
      <p><span>Address: </span>Ukraine, Lviv, Skhidna</p>
      <p><span>Birth Date: </span>24.05.1999</p>
      <p><span>Phone: </span>+380673785968</p>
      <p><span>Marital Status: </span>Unmarried</p>
    </div>
    <app-resume-form></app-resume-form>
  
  </div>
    <div class="additional-info">
        <p-fieldset legend="Education">
            <p><span>School: </span>"Prestige" Gymnasium Lviv</p><hr>
            <p><span>School: </span>LPNU</p>
            <p><span>Faculty: </span>IKNI</p>
        </p-fieldset>
        <p-fieldset legend="Experience">
            <p><span>Company Name: </span>Intertelecom</p>
            <p><span>Duration: </span>1 month</p><hr>
            <p><span>Company Name: </span>McDonald's</p>
            <p><span>Duration: </span>2 months</p>
        </p-fieldset>
        <p-fieldset legend="Courses">
            <p><span>Course: </span>C# OOP, SoftServe IT-academy</p><hr>
            <p><span>Course: </span>STEP IT-academy</p>
        </p-fieldset>
        <p-fieldset legend="Languages">
            <p><span>Language: </span>English</p>
            <p><span>Level: </span>B1</p><hr>
            <p><span>Language: </span>German</p>
            <p><span>Level: </span>A1</p>
        </p-fieldset>
        <p-fieldset legend="Soft Skills">
            <p>The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding. 
            His beloved son Michael has just come home from the war, but does not intend to become part of his father's business. 
            Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, 
            kind and benevolent to those who give respect, 
            but given to ruthless violence whenever anything stands against the good of the family.</p>
        </p-fieldset>
        <p-fieldset legend="Key Skills">
            <p>The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding. 
            His beloved son Michael has just come home from the war, but does not intend to become part of his father's business. 
            Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, 
            kind and benevolent to those who give respect, 
            but given to ruthless violence whenever anything stands against the good of the family.</p>
        </p-fieldset>
        <p-fieldset legend="Social Networks">
            <p><span>GitHub: </span>victor-moi</p>
            <p><span>Facebook: </span>Victor Moiseychenkov</p>
        </p-fieldset>
    </div>
</div>

<app-footer></app-footer>