hr 
	height: 1px;
	margin: 0;
	border: none;
	background-color: rgba(0,0,0,0.12);

#recruiter-page
	max-width: 1024px
	margin: auto
	padding: 30px

	.recruiter-info
		.logo
 			height: 200px
 			margin: 60px 0

		.wrapper-grid
			display: grid
			grid-template-columns: 120px auto 127px
			grid-column-gap: 20px;

			.recruiter-avatar
				max-width: 120px
				border-radius: 50%

			.recruiter-additional-info
				padding-top: 10px

				p
					margin: 10px 0
					font-size: 1.2em
				span
					font-weight: 600

		     


	.vacancy-list
		margin-top: 100px

		.vacancy-text
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin: 50px 0

			p
				padding: 0 14px
				font-size: 2em

			.fd-f1
				flex: 1
				background-color: rgba(0,0,0,0.5)
				
		.vacancy-container

			.vacancy-block
				display: flex
				justify-content: space-between
				border-bottom: 1px solid rgba(0,0,0,.12)
				padding: 30px 0px  
				flex-wrap: wrap 

				.vacancy
					margin: 5px 0
					font-size: .9em
					letter-spacing: 1px
					line-height: 1.3em
					max-width: 60%
					width: 580px
					max-width: 580px

					.inform
						h3
							text-overflow: ellipsis
							overflow: hidden
							width: 100% 
							white-space: nowrap


				.vacancy-logo
					margin: 5px 0
					font-size: .9em
					letter-spacing: 1px
					line-height: 1.3em
					max-width: 100px
					width: 100px
					margin: 0 20px

				.vacancy-button
					margin: 5px 0
					font-size: .9em
					letter-spacing: 1px
					line-height: 1.3em
					max-width: 160px
					width: 160px
					display: inline
					justify-content: flex-end

				h3 
					font-size: 20px 
					font-family: "Graphik Medium",sans-serif 
				p
					margin-block-start: 1em
					margin-block-end: 1em
					margin-inline-start: 0px
					margin-inline-end: 0px
					font-size: 16px

				.company-name
					font-size: 16px
					font-family: "Graphik Regular",sans-serif

				.location
					line-height: 1.2
					font-family: "Graphik Regular",sans-serif

				.short-description
					margin-bottom: 0
					max-width: 570px
					word-wrap: break-word
					color: #777
				
				.agotime
					padding-top: 20px
					margin: 0
					font-size: 14px
					color: rgba(0,0,0,0.3) 

	.paginator
    /deep/ .ui-paginator
        border: non             


.filter-search
    margin: 70px 0 0 0 
    background: none
    border-radius: 3px
    max-width: 100%

    /deep/ .ui-inputtext
      padding: 1.4em !important
      max-height: 40px


    /deep/ .ui-button
      padding: 0
	  
      border-radius: 0px
      font-size: 16px
      font-weight: 600
      line-height: 16px
      letter-spacing: 2px
      width: 192.5px
      text-align: center
      background: #30caa0
      cursor: pointer
      border: none
      color: #fff
      background: #333
      height: 62px
      margin: 0
      

    .wrapper
      width: 100%
      background: white
      display: inline-block
      height: 62px
      box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.27)

      input
        background: #fff
        outline: none			
        width: 80%
        border-radius: none
        border: 1px solid #DCDCDC
        border-bottom-style: none
        border-left-style: none
        border-top-style: none
        display: inline-block
        font-size: 14px
        height: 60px