<app-header></app-header>

<div id="recruiter-page">
	<div class="recruiter-info">
		<img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/SoftServe_logo_new.png" alt="recruiter logo">

		<div class="wrapper-grid">
			<div>
				<img class="recruiter-avatar" src="https://avatars0.githubusercontent.com/u/38991419?s=460&v=4" alt="Recruiter avatar">
			</div>
			<div class="recruiter-additional-info">
				<p>
					<span>Name:</span> {{recruiter.firstName}} {{recruiter.lastName}}</p>
				<p>
					<span>Email:</span> {{recruiter.email}}</p>
				<p>
					<span>Phone:</span> {{recruiter.phone}}</p>
			</div>
			<div class="vacancy-modification">
				<app-vacancy-form #vacancyForm (loadVacancy)="loadVacancy()" [recruiterId]="recruiter.id"></app-vacancy-form>
			</div>
		</div>
	</div>
	<div class="filter-search">
		<div class="wrapper">
			<input type="text" pInputText [(ngModel)]="property" placeholder="Enter recruiter name" />
			<p-button label="Search" icon="pi pi-search" ></p-button>
		</div>	
	</div>
	<div class="vacancy-list">
		<div class="vacancy-text">
			<hr class="fd-f1">
			<p>Vacancies</p>
			<hr class="fd-f1">
		</div>

		<div class="vacancy-container">		
			<ul *ngIf="vacancies.length > 0">
				<li *ngFor="let vacancy of vacancies">
					<article class="vacancy-block">
						<div class="vacancy">
							<div class="inform">
								<h3>
									<a>{{vacancy.name}}</a>
								</h3>
								<p class="company-name">
									<a>{{recruiter.company.name}}</a>
								</p>
								<p class="location">
									<i class="fa fa-map-marker"></i>
									{{vacancy.city.name}}
								</p>
								<p class="short-description">
									{{vacancy.description}}
								</p>
								<p class="agotime">
									{{vacancy.createDate | date}}
								</p>
							</div>
						</div>

						<div class="vacancy-logo">
							<div class="vacancy-container">
								<img class="logo" src="https://logo-frankfurt.cf-rabota.com.ua/959_20180227113934.png">
							</div>
						</div>
						<div class="vacancy-button">
							<div class="recruiter-modification">
								<button pButton type="button" (click)="vacancyForm.showVacancyForm('Update', recruiter)" label="Update" class="ui-button-rounded ui-button-warning"></button>
								<button pButton type="button" (click)="deleteConfirm(vacancy.id)" label="Delete" class="ui-button-rounded ui-button-danger"></button>
							</div>
						</div>
					</article>
				</li>
			</ul>
		</div>
	</div>
</div>

<app-footer></app-footer>

