<nav>
	<div id="left-side-menu">
	   <a id="home" href="#home">JOBLIST</a>
	   <p>Find job of your dream</p>
	</div>
	
   <div id="right-side-menu"> 
	  <a>Find Resume</a>
	  <app-information-form></app-information-form>
	  <a href="">Vacancies</a>

	  <p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="10000">
		<h1 style="font-weight:normal">Profile</h1>
		<hr>
		<p-panelMenu [model]="items" [style]="{'width':'250px'}"></p-panelMenu>
	  </p-sidebar>	 

	  <a class="user-info" (click)="visibleSidebar2 = true">
        <span>Profile</span>
        <img src="https://avatars0.githubusercontent.com/u/38991419?s=460&v=4" class="user-photo" alt="">
        <i class="fa fa-sort-desc"></i>
      </a>
	 </div>
  </nav>
