<p-dialog [header]="action+ ' Information'" [(visible)]="display" [modal]="true" [responsive]="true" [width]="630" [minWidth]="200" [minY]="70" [focusOnShow]="false"
[resizable]="false" [draggable]="false" [blockScroll]="true" [dismissableMask]="true" [baseZIndex]="10000">
<div id="information-form">
	<h4 class="info-title">Company Name</h4>
	<div>
		<span class="ui-float-label">
			<input id="companyName" type="text" size="30" pInputText [(ngModel)]="company.name"> 
		</span>
	</div>
	<hr>

	<h4 class="info-title">Short Discription</h4>
	<div>
		<span class="ui-float-label">
			<input id="shortDiscription" type="text" size="30" pInputText [(ngModel)]="company.shortDescription"> 
		</span>
	</div>
	<hr>

	<h4 class="info-title">Boss Name</h4>
	<div>
		<span class="ui-float-label">
			<input id="firstNmae" type="text" size="30" pInputText [(ngModel)]="company.bossName"> 
			<label for="firstNmae">First Name</label>
		</span> 
		<span class="ui-float-label">
			<input id="lastName" type="text" size="30" pInputText [(ngModel)]="company.bossName"> 
			<label for="lastName">Last Name</label>
		</span>
	</div>
	<hr>

	<h4 class="info-title">Email</h4>
	<div>
		<span class="ui-float-label">
			<input id="email" type="text" size="30" pInputText [(ngModel)]="company.email"> 
		</span>
	</div>
	<hr>

	
	<h4 class="info-title">Web Site</h4>
	<div>
		<span class="ui-float-label">
			<input id="webSite" type="text" size="30" pInputText [(ngModel)]="company.site"> 
		</span>
	</div>
	<hr>

	<h4 class="info-title">Address</h4>
	<div>
		<span class="ui-float-label">
			<input id="country" type="text" size="30" pInputText [(ngModel)]="company.address"> 
			<label for="country">Country</label>
		</span> 
		<span class="ui-float-label">
			<input id="city" type="text" size="30" pInputText [(ngModel)]="company.address"> 
			<label for="city">City</label>
		</span>
	</div>
	<div>
		<span class="ui-float-label">
			<input id="street" type="text" size="30" pInputText [(ngModel)]="company.address"> 
			<label for="street">Street</label>
		</span>
		<span class="ui-float-label">
			<input id="zip" type="text" size="30" pInputText [(ngModel)]="company.address"> 
			<label for="zip">Zip Code</label>
		</span>
	</div>
	<hr>

	<h4 class="info-title">Phone</h4>
	<div>
		<span class="ui-float-label">
			<input id="phone" type="text" size="30" pInputText [(ngModel)]="company.phone"> 
		</span>
	</div>
	<hr>
	
	<h4 class="info-title">Description</h4>
	<div class="description-area">
		<textarea [rows]="5" [cols]="70" pDescription style="resize:none"  [(ngModel)]="company.fullDescription"></textarea>
	</div>
	<hr>
</div>

<p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Confirm" class="ui-button-success"></button>
    <button type="button" pButton icon="pi pi-times" (click)="display=false" label="Cancel" class="ui-button-secondary"></button>
</p-footer>
</p-dialog>
