h1, h2, h3, h4, h5, h6 
  font: inherit
  color: inherit
  margin: 0 0 10px

h4 
  display: block
  margin-inline-start: 0px
  margin-inline-end: 0px
  font-weight: bold

a 
	cursor: pointer

#information-form
	padding: 15px 25px
	background: #F9F9F9
	border: 1px solid #ddd
	box-shadow: none
	border-radius: 0
	font-family: "Open Sans","Helvetica Neue",sans-serif
    max-width: 100%
    padding: 13px 25px

	.info-title
		font-size: 14px
		margin: 0;

	.description-area
		margin-top: 20px

	/deep/ .ui-float-label
		margin-top: 20px
		margin-right: 15px
		display: inline-block

	/deep/ .ui-widget
		width: 250px

	hr 
		border: 0
		height: 1px        
		margin: 15px 0
		background: rgba(0,0,0,.12)  
