h1 
	padding: 20px 0
	font-size: 1.2em
	font-weight: 600

hr
	height: 2px
	margin: 15px 0 15px
	border: none
	background-color: rgba(0,0,0,0.12)

.wrapper
  max-width: 1200px
  margin: auto
  position: relative
  display: flex
  justify-content: space-between

.header
	background-color: #208087
	height: 80px
    position: relative
	  
	a 
		cursor: pointer
		color: white

	#left-side-menu
		padding: 15px 0
		text-align: center

		a
			font-size: 30px
			font-family: Roboto, sans-serif
			font-weight: bold
			
		p
			font-size: 15px
			color: white
			text-align: center   

	#right-side-menu
		margin-right: 10px
		margin-top: 30px
	
		a
			height: 30px
			width: 30px
			padding: 10px

		a:hover
			color: #f47442

		/deep/ .ui-menu
			width: 17em
			// border: 1px solid #208087

			a
				font-size: 1.2em

			.ui-menuitem
				// border: 1px solid #208087

			.ui-corner-all
				// border-radius: 0

		/deep/ .ui-menu.ui-menu-dynamic
			top: 80px !important
			left: auto !important
			right: 0 !important


	.profile
		padding: 17.5px
		font-weight: 500
		color: white
		cursor: pointer
    position: relative
    display: block

		span 
			vertical-align: middle
			line-height: 21px
			text-align: left
			margin-right: 10px
    
  i
    position: absolute
    top: 28px

	.profile:hover
		color: #f47442  

 /deep/ .profile-sidebar .ui-sidebar
		p
			margin: 10px 0
			position: relative
			padding-left: 20px

		i 
			position: absolute
			left: 0
			top: 4px

		a 
			color: #7C898B !important

  /deep/ .ui-panelmenu .ui-panelmenu-header.ui-state-active > a:nth-child(4)
    border: 1px solid transparent !important
    background-color: #c8c8c8 !important

  /deep/ .ui-panelmenu .ui-panelmenu-header.ui-state-active > a:hover
    border: 1px solid transparent !important
    background-color: #c8c8c8 !important

	/deep/ .ui-panelmenu .ui-panelmenu-header > a
    border: 1px solid transparent
    background-color: #fff

	/deep/ .ui-panelmenu .ui-panelmenu-header > a .ui-panelmenu-icon
		display: none

	/deep/ .ui-panelmenu .ui-panelmenu-header > a
		font-size: 16px

	/deep/ .ui-panelmenu .ui-menuitem-icon
		margin: 0 0.5em 0 0

/deep/ body .ui-panelmenu .ui-panelmenu-content
    border: 1px solid transparent !important  