h1 
    padding: 20px 0
    font-size: 1.2em
    font-weight: 600

hr
    height: 2px
    margin: 15px 0 15px
    border: none
    background-color: rgba(0,0,0,0.12)
    
    

.container
    margin: 0
    padding: 0
    display: grid
    width: 100%
    grid-template-columns: 16% 82%
    grid-template-rows: auto
    grid-column-gap: 10px
    grid-template-areas: "left-side-menu right-side-menu"


    .right-side-menu
        margin-left: 8%
        margin-right: 5%
        margin-top: 82px
        grid-area: right-side-menu

    #left-side-menu
        grid-area: left-side-menu
        padding: 15px 0
        text-align: left
        display: flex
        justify-content: space-between
        position: relative

    /deep/ .ui-sidebar
        i 
            position: absolute
            left: 0
            top: 4px

        a
            background-color: #fff
            font-size: 16px
            margin: 0 -14px 
            color: #7C898B
            border: none 

/deep/ body .ui-panelmenu .ui-panelmenu-header.ui-state-active > a,
/deep/ body .ui-panelmenu .ui-panelmenu-header.ui-state-active > a:hover
    border: none
    background-color: #208087
    color: #ffffff

/deep/ body .ui-panelmenu .ui-panelmenu-header:not(.ui-state-active) > a:hover
    outline: 0 none
    border: none
    background-color: #eaeaea



// Main Content
    
/deep/ .ui-autocomplete .ui-inputtext
    font-size: 14px
    margin: 7px
    width: 840px
    height: 27px


/deep/ .ui-autocomplete .ui-autocomplete-panel
    min-width: 98.5%
    left: 7px !important
    top: 34px !important

    /deep/.ui-autocomplete-items .ui-autocomplete-list-item.ui-state-highlight
        background-color: #208087

/deep/ .ui-autocomplete .ui-inputtext:enabled:focus:not(.ui-state-error),
/deep/ .ui-autocomplete .ui-inputtext:enabled:hover:not(.ui-state-error)
    border-color: #208087 !important

    
/deep/ body .ui-dropdown:not(.ui-state-disabled).ui-state-focus,
/deep/ body .ui-dropdown:not(.ui-state-disabled):hover
    border-color: #208087


/deep/ body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active,
/deep/ body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight
    background-color: #208087
    

/deep/ .ui-md-4
    width: 22%