.container
    display: grid
    grid-template-columns: 400px 1180px
    grid-template-areas: "left-side-menu content"


    .left-side-menu
        margin: 0
        width: 400px
        height: 100%
        font-family: "Open Sans", "Helvetica Neue", sans-serif
        border: 1px solid #c8c8c8
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16)
        position: fixed
        grid-area: left-side-menu


        a 
            background-color: #fff
            color: #7C898B
            display: block
            text-decoration: none
            padding: 20px

            i
                margin-right: 5px 

        a:nth-child(1)
            margin-top: 80px

        a:hover 
            background-color: #eaeaea
            
        a.active 
            background-color: #208087
            color: white

    .content
        width: 100%
        margin: 70px 10px
        grid-area: content


/deep/ body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active,
/deep/ body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight
    background-color: #208087


    
/deep/ .ui-autocomplete .ui-inputtext
    font-size: 14px
    width: 935px
    height: 27px
    margin-left: 96px

/deep/ .ui-autocomplete .ui-autocomplete-panel
    min-width: 90.5%
    left: 96.5px !important
    top: 31px !important
    text-transform: none

    /deep/.ui-autocomplete-items .ui-autocomplete-list-item.ui-state-highlight
        background-color: #208087

/deep/ .ui-autocomplete .ui-inputtext:enabled:focus:not(.ui-state-error),
/deep/ .ui-autocomplete .ui-inputtext:enabled:hover:not(.ui-state-error)
    border-color: #208087 !important

    
/deep/ body .ui-dropdown:not(.ui-state-disabled).ui-state-focus,
/deep/ body .ui-dropdown:not(.ui-state-disabled):hover
    border-color: #208087

/deep/ p-dropdown .ui-dropdown
    margin-top: -22px
    margin-left: -15px
    height: 27px
    width: 200px
    z-index: 99999

/deep/ p-paginator .ui-dropdown
    margin-top: 0px
    margin-left: 0px
    width: auto


/deep/ .ui-md-4
    width: 10%