<app-admin-header></app-admin-header>
<div class="container">
    <div class="left-side-menu">
        <a routerLink="/admin/admin-dashboard" routerLinkActive="active"><i class="fa fa-home"></i>Dashboard</a>
        <a routerLink="/admin/admin-employees" routerLinkActive="active"><i class="fa fa-users"></i>Employees</a>
        <a routerLink="/admin/admin-companies" routerLinkActive="active"><i class="fa fa-university"></i>Companies</a>
        <a routerLink="/admin/admin-recruiters" routerLinkActive="active"><i class="fa fa-user-secret"></i>Recruiters</a>
        <a routerLink="/admin/admin-vacancies" routerLinkActive="active"><i class="fa fa-address-card"></i>Vacancies</a>
        <a routerLink="/admin/admin-chat" routerLinkActive="active"><i class="fa fa-home"></i>Chat</a>
    </div>

    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>