.filter-search
	padding: 30px
	background: #30caa0
	border-radius: 3px
	width: 1260px
	margin: auto

	/deep/ .ui-inputtext
		padding: 0.9em!important

	/deep/ .ui-button
		padding: 15px 30px
		border-radius: 0px
		font-size: 16px
		font-weight: 600
		line-height: 16px
		letter-spacing: 2px
		width: 170px
		text-align: center
		background: #30caa0
		cursor: pointer
		border: none
		color: #fff
		background: #333
		height: 62px
		margin: 0
		padding: 5px 20px

	/deep/ .ui-dropdown
		height: 57px
		width: 200px !important
		border: none



	.filter-form 
		max-width: 1200px

		.wrapper
			width: 1196px
			background: white
			display: inline-block
			height: 62px

		input 
			background: #fff			
			width: 826px
			border-radius: none
			border: 1px solid #DCDCDC
			border-bottom-style: none
			border-left-style: none
			border-top-style: none
			display: inline-block
			font-size: 14px
			height: 61px
