<div id="company-page">
  <img class="company-logo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/SoftServe_logo_new.png" alt="Vacancy logo">
  
  <div class="additional-info">
    <h3><font color="grey"><i class="fa fa-bank" style="font-size: 0.9em"></i> Company: </font>{{company.name}}</h3>
    <h3><font color="grey"><i class="fa fa-user" style="margin-right: 5px; margin-left: 2px"></i> Boss name: </font>{{company.bossName}}</h3>
    <h3><font color="grey"><i class="fa fa-mobile" style="margin-right: 8px; margin-left: 4px; font-size: 1.1em"></i> Phone: </font>{{company.phone}}</h3>
    <h3><font color="grey"><i class="fa fa-map-marker" style="margin-right: 6px; margin-left: 3px; font-size: 1.1em"></i> Address: </font>{{company.address}}</h3>
    <h3><font color="grey"><i class="fa fa-globe" style="margin-right: 4px; margin-left: 1px"></i> Web-site: </font><a href="www.softserveinc.com">{{company.site}}</a></h3>
    <p-card title="About the company" [style]="{width: '100%', 'margin-bottom':'20px', 'margin-top':'50px'}">
      <div><p>{{company.fullDescription}}</p></div>
    </p-card>
  </div>    
</div>
