#chatHistory 
    list-style-type: none
    text-align: left
    height: 400px
    overflow-y: scroll
    margin-bottom: 0


    li .name
        font-weight: bold
        margin-right: 5px


    li .time 
        color: #999
    
    div.message-body
        padding-bottom: 15px

