<div class="resumes-search">
  <app-search-line (filteredResumes)="getResumesByFilter($event)"></app-search-line>
  <div class="container">
    <div class="filter-container">
      <app-company-filters (filteredResumes)="getResumesByFilter($event)"></app-company-filters>
    </div>

    <div class="resume-container">
      <article class="resume-block" *ngFor="let resume of resumes">
        <div class="avatar">
          <a [routerLink]="['/resume-details/', resume.id]">
             <img  [src]="sanitizeEmployeesImg(employee?.photoData)" alt="photoData">
          </a>
        </div>
        <div class="inform">
          <h3>
           {{resume?.position}}
          </h3>
          <p class="person-inform">
            <a [routerLink]="['/resume-details/', resume.id]">{{resume?.employee?.firstName}} {{resume?.employee?.lastName}}</a>
          </p>
          <p>
            <i class="fa fa-user"></i>
            <span>
              {{resume?.employee?.birthDate | date}}
            </span>
          </p>
          <p class="experiance">
            <span>
              {{resume?.employee?.city?.name}}
            </span>
          </p>
          <p class="agotime">
            <span>
              {{resume?.createDate | date}}
            </span>
          </p>
        </div>
      </article>
    </div>
  </div>
  <p-paginator #p [rows]="pageSize" [totalRecords]="totalRecords" (onPageChange)="paginate($event)"
    [rowsPerPageOptions]="[2, 4, 6]"></p-paginator>
</div>