<div class="resumes-search">
  <app-search-line (filteredResumes)="getResumesByFilter($event)"></app-search-line>

  <div class="searchlabels">
    <span *ngIf="isWorkArea" class="searchlabels-label">
      <p class="searchlabels-label-txt">
        <span>{{param?.workArea}}</span>
        <i class="fa fa-times" (click)="resetWorkArea(param.workArea)"></i>
      </p>
    </span>
    <span *ngFor="let language of param.languages; let i = index" class="searchlabels-label">
      <p class="searchlabels-label-txt">
        <span>{{language}}</span>
        <i class="fa fa-times" (click)="resetLanguage(i)"></i>
      </p>
    </span>
    <span *ngFor="let school of param.schools; let i = index" class="searchlabels-label">
      <p class="searchlabels-label-txt">
        <span>{{school}}</span>
        <i class="fa fa-times" (click)="resetSchool(i)"></i>
      </p>
    </span>
    <span *ngFor="let faculty of param.faculties; let i = index" class="searchlabels-label">
      <p class="searchlabels-label-txt">
        <span>{{faculty}}</span>
        <i class="fa fa-times" (click)="resetFaculty(i)"></i>
      </p>
    </span>
  </div>

  <div class="container">
    <div class="filter-container">
      <app-company-filters (filteredResumes)="getResumesByFilter($event)"></app-company-filters>
    </div>

    <div class="resume-container">
      <article class="resume-block" *ngFor="let resume of resumes">
        <div class="avatar">
          <a [routerLink]="['/resume-details/', resume.id]">
            <img src="https://avatars1.githubusercontent.com/u/33777825?s=400&u=03881b8285bcb4c26c62dd1505b8ca9a9dd7e61f&v=4">
          </a>
        </div>
        <div class="inform">
          <h3>
            <a [routerLink]="['/resume-details/', resume.id]">{{resume?.position}}</a>
          </h3>
          <p class="person-inform">
            <span>
              {{resume?.employee?.firstName}} {{resume?.employee?.lastName}}
            </span>
          </p>
          <p>
            <i class="fa fa-user"></i>
            <span>
              {{resume?.employee?.birthDate | date}}
            </span>
          </p>
          <p class="experiance">
            <span>
              {{resume?.employee?.city?.name}}
            </span>
          </p>
          <p class="agotime">
            <i class="fa fa-refresh"></i>
            <span>
              {{resume?.createDate | date}}
            </span>
          </p>
        </div>
      </article>
    </div>
  </div>
  <p-paginator #p [rows]="pagination.pageSize" [totalRecords]="totalRecords" (onPageChange)="paginate($event)"
    [rowsPerPageOptions]="[2, 4, 6]"></p-paginator>
</div>