<div class="table-entities">
    <div class="table-header">
        <div class="left-dropdown">
            <p-dropdown [options]="sortOptions" [(ngModel)]="sorting.sortField" placeholder="Sort By" (onChange)="onSortChange($event)"
                [autoWidth]="false" styleClass="left"></p-dropdown>
        </div>

        <div class="table-autocomplete">
            <p-autoComplete [(ngModel)]="searchedEmployee" [suggestions]="employees" (onSelect)="select($event)"
                (completeMethod)="filterEmployees($event)" (onClear)="clear()" [field]="suggestField" [placeholder]="placeholder">
            </p-autoComplete>
        </div>

        <div class="right-dropdown">
            <p-dropdown [options]="searchOptions" [(ngModel)]="searching.searchField" (onChange)="onSearchFieldChange($event)">
            </p-dropdown>
        </div>
    </div>
    <table>
        <tr>
            <th>Picture</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Birthdate</th>
            <th>Delete</th>
        </tr>
        <tr *ngFor="let employee of employees">
            <td><img src="https://upload.wikimedia.org/wikipedia/commons/1/12/Stevejobs.jpg" alt="" /></td>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.phone}}</td>
            <td>{{employee.birthDate | date}}</td>
            <td>
                <button pButton type="button" label="Delete" (click)="deleteConfirm(employee.id)" class="ui-button-rounded ui-button-danger"></button>
            </td>
        </tr>
    </table>
</div>

<p-paginator #p [rows]="pagination.pageSize" [totalRecords]="totalRecords" (onPageChange)="paginate($event)" [rowsPerPageOptions]="rowsPerPage"></p-paginator>

<p-confirmDialog></p-confirmDialog>