<p-dialog [header]="'Reset Password'" [(visible)]="resetPasswordDialog" [modal]="true" [responsive]="true"
  [width]="330" [minWidth]="200" [minY]="70" [focusOnShow]="false" [resizable]="false" [draggable]="false"
  [blockScroll]="true" [dismissableMask]="false" [baseZIndex]="10000">

  <div id="authoruzations">
    <form [formGroup]="resetPasswordForm" novalidate>

      <h4 class="info-title">Current Password<span class="required-input-symbol">*</span></h4>
      <div class="ui-float-label">
        <input id="currentPassword" type="password" pInputText formControlName="currentPassword">
        <div *ngIf="resetPasswordForm.get('currentPassword').invalid &&
                    (resetPasswordForm.get('currentPassword').dirty || resetPasswordForm.get('currentPassword').touched)"
          class="alert alert-danger">
          <div *ngIf="resetPasswordForm.controls['currentPassword'].errors.required">
            Current Password is required!
          </div>
         
        </div>
      </div>
      <hr>

      <h4 class="info-title">New Password<span class="required-input-symbol">*</span></h4>
      <div class="ui-float-label">
        <input type="password" pPassword formControlName="newPassword" />
        <div *ngIf="resetPasswordForm.get('newPassword').invalid &&
                    (resetPasswordForm.get('newPassword').dirty || resetPasswordForm.get('newPassword').touched)"
          class="alert alert-danger">
          <div *ngIf="resetPasswordForm.controls['newPassword'].errors.required">
            New Password is required
          </div>
          <div *ngIf="resetPasswordForm.controls['newPassword'].errors.minlength ||
          resetPasswordForm.controls['newPassword'].errors.maxlength">
            Password should contain (8-100) chars
          </div>
        </div>
      </div>
      <hr>

      <h4 class="info-title">Confirm Password<span class="required-input-symbol">*</span></h4>
      <div class="ui-float-label">
        <input type="password" pPassword formControlName="confirmPassword" />
        <div *ngIf="resetPasswordForm.get('confirmPassword').invalid &&
                    (resetPasswordForm.get('confirmPassword').dirty || resetPasswordForm.get('confirmPassword').touched)"
          class="alert alert-danger">
        </div>
        <div *ngIf="resetPasswordForm.get('confirmPassword').value!=resetPasswordForm.get('newPassword').value && resetPasswordForm.get('confirmPassword').dirty"
          class="alert alert-danger">
            Passwords should match!
          </div>
      </div>
      <hr>

    </form>

    <div class="error-message" *ngIf="errorMessage">
      {{errorMessage}}
    </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="resetPassword(role,id)" label="Reset"
      [disabled]="resetPasswordForm.invalid || (resetPasswordForm.get('confirmPassword').value!=resetPasswordForm.get('newPassword').value)" class="ui-button-success"></button>
    <button type="button" pButton icon="pi pi-times" (click)="closeForm()" label="Cancel" class="ui-button-secondary"></button>
  </p-footer>



  </div>
</p-dialog>