<p-dialog [header]="action+ ' Vacancy'" [(visible)]="display" [modal]="true" [responsive]="true" [width]="630" [minWidth]="200" [minY]="70" [focusOnShow]="false"
[resizable]="false" [draggable]="false" [blockScroll]="true" [dismissableMask]="false" [baseZIndex]="10000">
<div id="vacancy-form">
	
	<h4 class="vacancy-title">Vacancy Name</h4>
	<div>
		<span class="ui-float-label">
			<input id="vacancyName" type="text" size="30" pInputText> 
		</span>
	</div>
	<hr>

	<h4 class="vacancy-title">Salary</h4>
	<div>
		<span class="ui-float-label">
			<input id="salaryName" type="text" size="30" pInputText> 
		</span>
	</div>
	<hr>

	<h4 class="vacancy-title">City</h4>
    <p-dropdown [options]="cities" [(ngModel)]="selectedCity" placeholder="Select a City" optionLabel="name" filter="true"></p-dropdown>
    <hr>

	<hr>
	<h4 class="vacancy-title">Descriotion</h4>
	<div class="text-area">
		<textarea [rows]="10" [cols]="70" pDescription style="resize:none"></textarea>
	</div>
	<hr>

	<h4 class="vacancy-title">Offer</h4>
	<div class="text-area">
		<textarea [rows]="10" [cols]="70" pDescription style="resize:none"></textarea>
	</div>
	<hr>

	<h4 class="vacancy-title">Requirements</h4>
	<div class="text-area">
		<textarea [rows]="10" [cols]="70" pDescription style="resize:none"></textarea>
	</div>
	<hr>

	<h4 class="vacancy-title">Be plus</h4>
	<div class="text-area">
		<textarea [rows]="10" [cols]="70" pDescription style="resize:none"></textarea>
	</div>
	<hr>
</div>

<p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="submit()" label="Confirm" class="ui-button-success"></button>
    <button type="button" pButton icon="pi pi-times" (click)="display=false" label="Cancel" class="ui-button-secondary"></button>
</p-footer>
</p-dialog>

<button type="button" pButton icon="pi pi-plus" (click)="showVacancyForm('Create')" label="Add Vacancy" ></button>


