<p-dialog [header]="action + ' Vacancy'" [blockScroll]="true" [dismissableMask]="false" [(visible)]="display" [width]="630" [minWidth]="200"
 [resizable]="false" [draggable]="false" [modal]="true" [width]="350" [minWidth]="470" [minY]="70" [baseZIndex]="10000">
	<div id="vacancy-form">
		<form [formGroup]="vacancyForm" novalidate>
			<h4 class="vacancy-title">Vacancy Name<span class="required-input-symbol">*</span></h4>
				<div class="ui-float-label size-input">
					<input id="vacancyName" type="text"  pInputText formControlName="vacancyName" required>
					<div *ngIf="vacancyForm.get('vacancyName').invalid && (vacancyForm.get('vacancyName').dirty || vacancyForm.get('vacancyName').touched)"
						class="alert alert-danger">
						<div *ngIf="vacancyForm.controls['vacancyName'].errors.required">
							Vacancy name is required
						</div>
						<div *ngIf="vacancyForm.controls['vacancyName'].errors.minlength || vacancyForm.controls['vacancyName'].errors.maxlength">
							Vacancy name should contain (2-50) chars
						</div>
					</div>
				</div>
			<hr>

			<h4 class="vacancy-title">City<span class="required-input-symbol">*</span></h4>
			<p-dropdown [options]="cities" [(ngModel)]="selectedCity" placeholder="Select a City" optionLabel="name" filter="true"
			 formControlName="city"></p-dropdown>
			<hr>

			<h4 class="vacancy-title">Work Area<span class="required-input-symbol">*</span></h4>
			<p-dropdown [options]="workAreas" [(ngModel)]="selectedWorkArea" placeholder="Select a Work Area" optionLabel="name"
			 filter="true" formControlName="workArea"></p-dropdown>
			<hr>

			<h4 class="vacancy-title">Salary</h4>
			<div class="ui-float-label size-input">
				<input type="text" pInputText pKeyFilter="money" placeholder="Money" formControlName="salary">
				<div *ngIf="vacancyForm.get('salary').invalid && (vacancyForm.get('salary').dirty || vacancyForm.get('salary').touched)"
				class="alert alert-danger">
					<div *ngIf="vacancyForm.controls['salary'].errors.pattern">
						Salary must match 999.00
					</div>
				</div>
			</div>
			<hr>

			<h4 class="vacancy-title">Description<span class="required-input-symbol">*</span></h4>
			<div class="text-area">
				<textarea [rows]="10" pDescription style="resize:none" formControlName="description" required></textarea>

				<div *ngIf="vacancyForm.get('description').invalid && (vacancyForm.get('description').dirty || vacancyForm.get('description').touched)"
				 class="alert alert-danger">
					<div *ngIf="vacancyForm.controls['description'].errors.required">
						Description is required
					</div>
					<div *ngIf="vacancyForm.controls['description'].errors.minlength">
						Description should contain at least 2 chars
					</div>
				</div>
			</div>
			<hr>

			<h4 class="vacancy-title">Offer<span class="required-input-symbol">*</span></h4>
			<div class="text-area">
				<textarea [rows]="10" pDescription style="resize:none" formControlName="offering" required></textarea>
				<div *ngIf="vacancyForm.get('offering').invalid && (vacancyForm.get('offering').dirty || vacancyForm.get('offering').touched)"
				 class="alert alert-danger">
					<div *ngIf="vacancyForm.controls['offering'].errors.required">
						Offer is required
					</div>
					<div *ngIf="vacancyForm.controls['offering'].errors.minlength">
						Offer should contain contain at least 2 chars
					</div>
				</div>
			</div>
			<hr>

			<h4 class="vacancy-title">Requirements<span class="required-input-symbol">*</span></h4>
			<div class="text-area">
				<textarea [rows]="10" pDescription style="resize:none" formControlName="requirements" required></textarea>
				<div *ngIf="vacancyForm.get('requirements').invalid && (vacancyForm.get('requirements').dirty || vacancyForm.get('requirements').touched)"
				 class="alert alert-danger">
					<div *ngIf="vacancyForm.controls['requirements'].errors.required">
						Requirements name is required
					</div>
					<div *ngIf="vacancyForm.controls['requirements'].errors.minlength">
						Requirements should contain at least 2 chars
					</div>
				</div>
			</div>
			<hr>

			<h4 class="vacancy-title">Be plus</h4>
			<div class="text-area">
				<textarea [rows]="10" pDescription style="resize:none" formControlName="bePlus"></textarea>
			</div>
			<hr>

			<h4 class="vacancy-title">Full-time/part-time</h4>
			<div class="ui-float-label size-input">
				<input id="fullPartTime" type="text"  pInputText formControlName="fullPartTime">
			</div>
			<hr>
		
		</form>
	</div>

	<p-footer>
		<button type="button" pButton icon="pi pi-check" (click)="submit()" [disabled]="vacancyForm.invalid" label="Confirm"
		 class="ui-button-success"></button>
		<button type="button" pButton icon="pi pi-times" (click)="display=false" label="Cancel" class="ui-button-secondary"></button>
	</p-footer>
</p-dialog>

<button type="button" pButton icon="pi pi-plus" (click)="showVacancyForm('Create')" label="Add Vacancy"></button>