<div id="company-page">
    <div class="wrapper-flex">
        <img class="profile-avatar" src="https://avatars0.githubusercontent.com/u/43314300?s=400&u=1ab66ea04a1b8060af09ee83b3ba69a44a9f8710&v=4" alt="Profile Avatar">
        <div class="additional-info">
        <p><span>Full Name: </span>{{resume.user?.firstName}} {{resume.user?.lastName}}</p>
        <p><span>E-Mail: </span>{{resume.user?.email}}</p>
        <p><span>Sex: </span>{{resume.user?.sex ==='m'?'Male':resume.user?.sex==='f'?'Female':''}}</p>
        <p><span>City: </span>{{resume.user?.city?.name}}</p>
        <p><span>Birth Date: </span>{{resume.user?.birthData | date }}</p>
        <p><span>Phone: </span>{{resume.user?.phone}}</p>
        <p><span>Family state: </span>{{resume.familyState}}</p>
        </div>
        <p-dialog header="Message" [(visible)]="display" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70" 
            [maximizable]="false" [baseZIndex]="10000" showHeader="false">
            <span>Do you really want to send the invitation?</span>
            <p-footer>
                <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Yes"></button>
                <button type="button" pButton icon="pi pi-times" (click)="display=false" label="No" class="ui-button-secondary"></button>
            </p-footer>
        </p-dialog>
        <button type="button" (click)="showDialog()" pButton icon="pi pi-copy" label="Send invitation"></button>
    </div>
    <div class="additional-info">
        <p-fieldset legend="Intro">
            <p>
            Hello! I'm a young intelligent talented student. 
            At the moment, I'm a tutor in mathematics. I extremely
            like web-programming and would like to succeed as Full Stack Developer,
            master different technologies, become a professional in this area.
            And now I'm looking for a junior Full Stack Developer position.
            </p>
        </p-fieldset>
        <p-fieldset legend="Social Networks">
            <p><span>GitHub: </span>{{resume.github}}</p>
            <p><span>Facebook: </span>{{resume.facebook}}</p>
            <p><span>Instagram: </span>{{resume.instagram}}</p>
            <p><span>Skype: </span>{{resume.skype}}</p>
            <p><span>Linkedin: </span>{{resume.linkedin}}</p>
        </p-fieldset>
        <p-fieldset legend="Educations">
            <div *ngFor="let ed of resume.educationPeriods">
            <p><span>School: </span>{{ed.school?.name}}</p>
            <p *ngIf="ed.faculty"><span>Facylty: </span>{{ed.faculty?.name}}</p>
            <p><span>Start Date: </span>{{ed.startDate | date}}</p>
            <p><span>Finish Date: </span>{{ed.finishDate | date}}</p>
            <hr>    
            </div>
        </p-fieldset>
        <p-fieldset legend="Experience">
            <div *ngFor="let exp of resume.experiences">
            <p><span>Company Name: </span>{{exp.companyName}}</p>
            <p><span>Position: </span>{{exp.position}}</p>
            <p><span>Start Date: </span>{{exp.startDate | date}}</p>
            <p><span>Finish Date: </span>{{exp.finishDate | date}}</p>
            <hr>
            </div>
    
        </p-fieldset>
        <p-fieldset legend="Languages">
            <p>{{getLanguages()}}</p>
        </p-fieldset>
        <p-fieldset legend="Courses">
            <p>{{resume.courses}}</p>
        </p-fieldset>
        <p-fieldset legend="Soft Skills">
            <p>{{resume.softSkills}}</p>
        </p-fieldset>
        <p-fieldset legend="Key Skills">
            <p>{{resume.keySkills}}</p>
        </p-fieldset>    
    </div>     
</div>