#company-page
    max-width: 1200px
    margin: auto
    padding: 30px

    hr 
        height: 1px;
        margin: 0;
        border: none;
        background-color: rgba(0,0,0,0.12);

    .logo
        width: 1024px
        height: 200px
        background: white

    .wrapper-flex
        display: flex
        justify-content: space-between
        margin-top: 50px

        .ui-button
            

    .additional-info
        p
            margin: 10px 0
            font-size: 1.2em

        span
            font-weight: 600

    .description
        margin-top: 30px


    .recruiter-list
        margin-top: 100px

        .recruiters-text
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 50px 0

            p
                padding: 0 14px
                font-size: 2em

        .fd-f1
            flex: 1
            background-color: rgba(0,0,0,0.5);

        ul
            list-style: none
            display: flex
            justify-content: space-between
            flex-wrap: wrap

            li 
                max-width: 500px
                width: 500px
                margin: 20px 0
                // background: #ECF6F0

        .avatar
            width: 70px
            border-radius: 50%

        .recruiter-info
            margin: 5px 0
            font-size: 1em
            letter-spacing: 1px
            line-height: 1.3em

        .recruiter-wrapper-flex
            display: flex
            height: 100px
            justify-content: space-between


        .recruiter-modification
            margin-top: 10px

    