<app-company-header></app-company-header>

<div id="company-page">
  <div class="company-info">
    <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/SoftServe_logo_new.png" alt="Company logo">
    <div class="wrapper-flex">
      <div class="additional-info">
        <p>Short Description</p>
        <p><span>Company Name:</span>  SoftServe</p>
        <p><span>Boss Name:</span> Pavlo Paitak</p>
        <p>pavlopaitak@gmail.com</p>
        <p><span>Phone:</span> 0936977685</p>
        <p><span>Address:</span> Address: Kavaleridze 25</p>
      </div>
      <div>
        <app-recruiter-form #recruiterForm></app-recruiter-form>
      </div>
    </div>
    <div class="description">
      <p-accordion>
        <p-accordionTab header="Description" [selected]="false">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore exercitationem voluptatem, temporibus, placeat quasi rem hic ipsa alias beatae laborum a rerum quae ad doloremque. Repellendus aut dolore commodi minus.
          Animi maxime est unde, accusamus a possimus eius numquam fugiat exercitationem, iure corrupti consequuntur! Harum excepturi laborum illum tempore rerum iusto quibusdam sapiente dolor adipisci molestiae in ab, laudantium numquam!
          Deserunt, quidem voluptates soluta pariatur deleniti veritatis. Est totam eveniet suscipit vero iste quod architecto? Repellat accusamus ipsum aspernatur error neque vel soluta alias explicabo! In eligendi optio debitis repellat!
          Aperiam, ea eos mollitia possimus iusto labore laboriosam sint. Quisquam ea eius ipsum aliquam nesciunt quis deserunt animi, sed esse repellendus, tempore commodi sequi voluptatum in asperiores itaque optio incidunt!
          Doloribus nostrum possimus velit incidunt odio error animi fugit deserunt earum maxime delectus praesentium sed eos asperiores saepe accusantium, at, odit atque, id qui a est rem impedit! Labore, illo?
          Ullam, earum officia ab porro explicabo esse, aliquam consectetur non vero reiciendis alias repellat odit. Eius quo neque voluptate ducimus asperiores, iste adipisci, ab libero voluptatem, id architecto accusantium doloribus?
          Voluptate repudiandae facere numquam assumenda? Optio eveniet commodi quidem rem, laborum non aspernatur reprehenderit consectetur itaque impedit. Suscipit atque autem deleniti obcaecati illum non magni, aliquid eum ea dicta itaque?
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>

  <div class="recruiter-list">
    <div class="recruiters-text">
      <hr class="fd-f1">
      <p>Recruiters</p>
      <hr class="fd-f1">
    </div>
    
    <ul>
      <li>
        <div class="recruiter-wrapper-flex">
          <div>
              <img class="avatar" src="https://avatars0.githubusercontent.com/u/38991419?s=460&v=4" alt="Recruiter avatar">
          </div>
          <div class="recruiter-info">
              <p>Pavlo Paitak</p>
              <p>pavlopaitak@gmail.com</p>
          </div>
          <div class="recruiter-modification">
              <button pButton type="button" (click)="recruiterForm.showRecruiterForm('Update')" label="Update" class="ui-button-rounded ui-button-warning"></button>
              <button pButton type="button" label="Delete" class="ui-button-rounded ui-button-danger"></button>      
          </div>
        </div>
        <hr>
      </li>
      <li>
        <div class="recruiter-wrapper-flex">
          <div>
              <img class="avatar" src="https://avatars0.githubusercontent.com/u/38991419?s=460&v=4" alt="Recruiter avatar">
          </div>
          <div class="recruiter-info">
              <p>Pavlo Paitak</p>
              <p>pavlopaitak@gmail.com</p>
          </div>
          <div class="recruiter-modification">
              <button pButton type="button" label="Update" class="ui-button-rounded ui-button-warning"></button>
              <button pButton type="button" label="Delete" class="ui-button-rounded ui-button-danger"></button>      
          </div>
        </div>
        <hr>
      </li>
      <li>
          <div class="recruiter-wrapper-flex">
            <div>
                <img class="avatar" src="https://avatars0.githubusercontent.com/u/38991419?s=460&v=4" alt="Recruiter avatar">
            </div>
            <div class="recruiter-info">
                <p>Pavlo Paitak</p>
                <p>pavlopaitak@gmail.com</p>
            </div>
            <div class="recruiter-modification">
                <button pButton type="button" label="Update" class="ui-button-rounded ui-button-warning"></button>
                <button pButton type="button" label="Delete" class="ui-button-rounded ui-button-danger"></button>      
            </div>
          </div>
          <hr>
      </li>
      <li>
          <div class="recruiter-wrapper-flex">
            <div>
                <img class="avatar" src="https://avatars0.githubusercontent.com/u/38991419?s=460&v=4" alt="Recruiter avatar">
            </div>
            <div class="recruiter-info">
                <p>Pavlo Paitak</p>
                <p>pavlopaitak@gmail.com</p>
            </div>
            <div class="recruiter-modification">
                <button pButton type="button" label="Update" class="ui-button-rounded ui-button-warning"></button>
                <button pButton type="button" label="Delete" class="ui-button-rounded ui-button-danger"></button>      
            </div>
          </div>
          <hr>
      </li>
      <li>
          <div class="recruiter-wrapper-flex">
            <div>
                <img class="avatar" src="https://avatars0.githubusercontent.com/u/38991419?s=460&v=4" alt="Recruiter avatar">
            </div>
            <div class="recruiter-info">
                <p>Pavlo Paitak</p>
                <p>pavlopaitak@gmail.com</p>
            </div>
            <div class="recruiter-modification">
                <button pButton type="button" label="Update" class="ui-button-rounded ui-button-warning"></button>
                <button pButton type="button" label="Delete" class="ui-button-rounded ui-button-danger"></button>      
            </div>
          </div>
          <hr>
      </li>
    </ul>
  </div>
</div>
<app-footer></app-footer>