<app-header [company]="company" [companyInfoForm]="companyInfoForm"></app-header>

<div id="company-page">
  <div class="company-info">
    <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/SoftServe_logo_new.png" alt="Company logo">
    <div class="wrapper-flex">
      <div class="additional-info">
        <p>{{company.shortDescription}}</p>
        <p><span>Company Name:</span>  {{company.name}}</p>
        <p><span>Boss Name:</span> {{company.bossName}}</p>
        <p>{{company.email}}</p>
        <p><span>Phone:</span> {{company.phone}}</p>
        <p><span>Address:</span> {{company.address}}</p>
      </div>
      <div>
        <app-recruiter-form #recruiterForm (loadRecruiters)="loadRecruiters()" [companyId]="company.id"></app-recruiter-form>
      </div>
    </div>
    <div class="description">
      <p-accordion>
        <p-accordionTab header="Description" [selected]="false">
						{{company.fullDescription}}
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
  <div class="filter-search">
    <div class="wrapper">
      <input type="text" pInputText [(ngModel)]="property" placeholder="Enter recruiter name" />
      <p-button label="Search" icon="pi pi-search" ></p-button>
    </div>	
  </div>
  <div class="recruiter-list">
    <div class="recruiters-text">
      <hr class="fd-f1">
      <p>Recruiters</p>
      <hr class="fd-f1">
    </div>
    
    <ul *ngIf="recruiters.length > 0">
      <li *ngFor="let recruiter of recruiters">
        <div class="recruiter-wrapper-flex">
          <div>
              <img class="avatar" src="https://avatars0.githubusercontent.com/u/38991419?s=460&v=4" alt="Recruiter avatar">
          </div>
          <div class="recruiter-info">
              <p>{{recruiter.firstName}} {{recruiter.lastName}}</p>
							<p>{{recruiter.email}}</p>
							<p>{{recruiter.phone}}</p>
          </div>
          <div class="recruiter-modification">
              <button pButton type="button" (click)="recruiterForm.showRecruiterForm('Update', recruiter)" label="Update" class="ui-button-rounded ui-button-warning"></button>
              <button pButton type="button" label="Delete" (click)="deleteConfirm(recruiter.id)" class="ui-button-rounded ui-button-danger"></button>      
            </div>
        </div>
        <hr>
      </li>
    </ul>
  </div>
</div>

<app-company-info-form #companyInfoForm (loadCompanyById)=" loadCompanyById()"></app-company-info-form>

<app-footer></app-footer>

<p-confirmDialog></p-confirmDialog>
